.detail-input{
    display: grid;
    margin: 5% 0% 1% 10%;
    font-size: 14px;
}

.form-control {
    width: 80%;
    margin: 0% 0% 0% 10%;
    font-size: 48px;
    color: #999999;
    font-weight: bold;
    background-color: #000000;
    border: none;
    border-bottom: solid 1px #ffffff
}

.form-control-filled {
    width: 80%;
    margin: 0% 0% 0% 10%;
    font-size: 48px;
    color: #fafafa;
    font-weight: bold;
    background-color: #000000;
    border: none;
    border-bottom: solid 1px #ffffff
}

.container-search-results{
    padding: 0% 10% 0% 10%;
}

.search-results{
    padding: 45px 0px 20px 0px;
}

/* responsive form */

@media only screen and (max-width: 375px) {
   .form-control{
        width: 75%;
        font-size: 29px;
        width: 76%;
   }

   .form-control-filled{
    width: 75%;
    font-size: 29px;
    width: 76%;
}

   .search-results{
    text-align: center;
   }

   .album-view{
    text-align: center;
   }
}