<div class="main-container">
    <div class="icon-image">
        <img src="assets/img/banner-ico.png">
    </div>
    <div class="search-information-input">
        <form>
            <div class="form-group">
                <label class="detail-input">Busque por artistas ou álbuns</label>
                <input #nameAlbum type="text" [ngClass]="{'form-control': value === undefined, 'form-control-filled': value !== undefined }" placeholder="Comece a escrever..." (keyup)="searchByName(nameAlbum.value)" name="name">
            </div>
        </form>
    </div>
    <div class="container-search-results">

        <div class="search-results" *ngIf="name">
            <p>Resultados encontrados para "{{name}}"</p>
        </div>
        <div class="album-view" *ngIf="name">
            <app-album-preview [albumsItens]="album"></app-album-preview>
        </div>
    </div>
</div>